.nav-container {
    display: flex;
    background-color: rgb(88, 90, 88);
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    color: rgb(244, 244, 248);
    border-bottom: solid white 3px;
  
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
  }
  
  nav > li {
    list-style: none;
    margin-right: 20px;
  }
  
  .nav-container > img {
    width: 80px;
  }
  
  .main {
    margin: 0;
  }
  
  .hero-section {
    padding: 20px;
    background-color: rgb(73, 72, 72);
    display:flex;
  
  }
  
  .cv-details {
    flex: 1;
    padding: 20px;
    border-bottom: solid white 2px;
  }
  
  .cv-bg {
    background-color: rgb(246, 247, 248);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cv-bg > h1 {
    margin: 0;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .cv-bg > h1 > span {
    color: rgb(58, 59, 59);
  }
  
  .cv-bg > h2 {
    margin: 0;
    color: rgb(74, 74, 75);
  }
  
  
  .hero-image {
    flex: 1;
    padding: 20px;
    position: relative;
  }
  
  .hero-image > img {
    width: 330px;
    height: 330px;
    bottom: 5em;
    left: 2.3em;
    border: solid rgb(248, 248, 252) 10px;
    z-index: 3;
    position:absolute;
    border-radius: 50%;
  
  
  }
  
  .circle {
    background-color: rgb(231, 235, 236);
    border: solid rgb(41, 40, 40) 15px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 320px;
    height: 320px;
    z-index: 1;
    position: absolute;
    left:140px;
    top: 4.5em;
  }
  
  .rectangle{
    background-color: rgb(227, 228, 230);
    border: solid rgb(41, 40, 40) 15px;;
    width: 350px;
    height: 350px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    top: 3.6em;
  }
  
  .portfolio > div > img {
    width: 50%;
  }
  
  .portfolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
  }
  
  .portfolio-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid white 2px;
    width:50%;
    margin: 0px 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    
  }
  
  .portfolio-image > img {
    scale: 0.8;
    box-shadow: 5px 5px 15px 3px #151715;
  
    
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(73, 72, 72);
    color: aliceblue;
  
  }
  
  .friends-image > img {
    width: 40%;
    height: 150px;
    object-fit:cover;
    border-radius: 50%;
    border: solid white 5px;
  }
  
  .friends-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .friends-image {
    width: 25%;
    border-bottom: solid white 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
  }
  
  .testimonies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 72, 72);;
    color: aliceblue;
  
  }
  
  .testimonies > h2 {
    margin-bottom: 30px;
  }
  
  .cv-details {
    color: aliceblue;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(73, 72, 72);
    margin-top: 20px;
    color: white;
  }
  
  .icons > * {
    margin: 20px;
    font-size: 30px;
    color: aliceblue;
  }
  